[Desktop Entry]
Type=Application
TryExec=titty
Exec=titty
Icon=Titty
Terminal=false
Categories=System;TerminalEmulator;

Name=Titty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Titty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=titty
